@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;500;600;700;800&family=Noto+Sans:ital,wght@0,700;1,400;1,700&family=Poppins:ital,wght@0,600;0,700;1,200;1,300;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #a7a7a7;
    font-family: 'Poppins', sans-serif;
}
nav >div{
    margin:0px 15px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    background-color: springgreen;
    height: 70px;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 10px;
}

.top-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;
    background-color: #ececec;
    border-radius: 15px;
   
}

.heading{
    margin: 10px;
    width: 50%;
}

.heading h1{
    color: rgb(199, 0, 57);
    font-size:35px;
}
.heading p{
    text-align: justify;
    font-size: 15px;
}
.btn{
    height: 40px;
    width: 150px;
    font-size: 16px;
    padding: 5px 20px;
    border: none;
    border-radius:5px;
    background-color:#CD6155;
}

.btn:hover{
    color: blanchedalmond;
    background-color: crimson;
}

.dev-img{
    display: flex;
    justify-content: center;
    width: 50%;
}
.image-holder{
    height: auto;
    width: 48%;
    /* background-color:#ABEBC6; */
    border-radius: 10px;
    

}
.image-holder img{
    margin: 10%;
    border-radius: 5px;
    width: 80%;
}
.about-me{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.box-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 280px;
    background-color:rgb(189, 83, 83);
    border-radius: 5px;
    margin-bottom: 10px;
}
.icon{
    height: 50px;
    width: 50px;
}